/* You can add global styles to this file, and also import other style files */
.container {
    margin: 0 auto;
    max-width: 75%;
    width: 100%;
}

.mat-list-item-content {
    padding: 0px !important;
}